@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  font-weight: 400;

  color: white;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #f84040;
  text-decoration: inherit;
}
a:hover {
  color: #e33535;
}

body {
  margin: 0;
  padding: 0;
}

#root{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.logo{
  max-width:400px;
  width:100%;
  margin-bottom:25px;
}

main{
  display:flex;
  max-width: 800px;
  width:100%;
  flex-direction: column;
  align-items: center;
  padding:50px;
  min-height:100vh;
  box-sizing: border-box;
  position:relative;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

form{
  display:flex;
  gap:10px;
  justify-content: center;
  width:100%;
  margin-bottom:50px;
}

.videoTextbox, .search{
  background-color:#404040;
  line-height: 25px;
  color:white;
  padding:10px 20px;
  border:none;
  outline:none;
  border-radius: 50px;
  width:80%;
}

.find {
  border-radius: 50px;
  height:50px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  line-height: 25px;
  color:white;
  padding:10px 20px;
  font-family: inherit;
  background-color: #f84040;
  cursor: pointer;
  transition:  0.25s;
  width:20%;
}
.find img{
  height:25px;
}
.find:hover {
  background-color: #e33535;
}
.results-loader{
  background-color: rgb(22, 22, 22);
  border-radius: 10px;
  width:100%;
  height:200px;
  animation: pulse 2s linear infinite;
}

@keyframes pulse
{
  from { opacity: 1; }
  50% { opacity: .5; }
  to { opacity: 1; }
}

.results{
  background-color: rgb(22, 22, 22);
  border-radius: 10px;
  width:100%;
  box-sizing: border-box;
  padding:25px;
  display:flex;
  flex-direction: column;
  gap:5px;
  position:relative;
}
.results:empty{
  display:none;
}
.results .search{
  border-radius: 5px;
  width:100%;
  box-sizing: border-box;
  margin-bottom:20px;
}
.search-clear{
  width:20px;
  position:absolute;
  right:37px;
  top:37px;
  cursor:pointer;
  opacity:.5;
}
.word{
  width:100%;
  background-color: rgba(248, 64, 64, 0.2);
  box-sizing: border-box;
  color:white;
  font-weight: normal;
  border-radius: 5px;
  position:relative;
  overflow: hidden;
}
.word-open{
}
.word .info{
  height:40px;
  padding:10px 20px;
  box-sizing: border-box;
  position:relative;
  cursor:pointer;
}
.word-dropdown-arrow{
  height:12px;
  position:absolute;
  top:14px;
  right:20px;
}
.word-dropdown-arrow.up{
  transform:rotate(180deg);
}
.bar{
  position:absolute;
  height:40px;
  top:0;
  left:0;
  background-color:#e33535;
}
.count{
  background-color: white;
  color:black;
  padding:1px 3px;
  font-size:14px;
  font-weight: bold;
  margin-left:5px;
  border-radius: 5px;
  min-width:20px;
  text-align: center;
  display:inline-block;
}
.word span{
  position:relative;
  line-height: 20px;
  z-index: 1;
  font-weight: bold;
  text-transform: capitalize;
}
.dropdown{
  background-color:#232323;
  padding:15px;
  display:flex;
  flex-direction: column;
  gap:15px;
}
.dropdown p{
  font-size:14px;
  margin:0;
}
.dropdown p a{
  color:white;
  font-weight: bold;
  background-color:#323030;
  border-radius:5px;
  line-height: 15px;
  padding:3px 5px;
  transition: background-color .3s linear;
}
.dropdown p a:hover{
  background-color: #cf5b5b;
}
footer{
  width:100%;
  line-height: 40px;
  background-color:#1d1c1c;
  font-size: 12px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  main {
    padding:20px;
  }
  form{
    display:flex;
    flex-direction: column;
    margin-bottom:30px;
  }
  .find {
    width:100%;
    box-sizing: border-box;
  }
  .videoTextbox, .search{
    width:100%;
    box-sizing: border-box;
  }
}
